{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css'  %}">
    <link rel="stylesheet" href="{% static 'css/yeee.css' %}">
    <title>Sirojul Umam</title>
</head>
<body style="background-color:rgb(251, 226, 183) ;">
    <nav class="navbar bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="#Home">
            <img src="{% static 'images/eee.png'  %}" alt="" width="35" height="35" class="d-inline-block align-text-top">
            Bootstrap
          </a>
        </div>
      </nav>

      <section id="Home">
        <div class="container-fluid py-1">
                <h6 class="text-center fw-lighter" style="color:black;"><button type="button" class="btn btn-warning">New in v.5.2</button>
             Css Variables, Responsive Offcanvas, New utilities, and more !</h6>
                <img src="{% static 'images/logo.png' %}" class="rounded mx-auto d-block ps-5 img-fluid" style="width:20%;">
                    <h1 class="text-center fw-bold" style="color:black;"> <strong>Build Fast, Responsive Sites</strong></h1>
                    <h1 class="text-center fw-bold" style="color:black;"> <strong>With Bootstrap</strong></h1>
                    <br> <br>
                    <h4 class="text-center fw-normal" style="color:black;">Powerful, extensible, and feature-packed frontend toolkit. Build and customize</h4>
                    <h4 class="text-center fw-normal" style="color:black;">with Sass, utilize prebuilt grid system and components, and bring projects to life</h4>
                    <h4 class="text-center fw-normal" style="color:black;">with powerful JavaScript plugins.</h4>
                    <br>
        <div class="container">
            <div class="icon d-flex justify-content-center ms-4">
                <button type="button" class="btn btn-light mx-3 font-monospace"><em>$</em> npm i bootstrap@5.2.0</button>
                <button type="button" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                  </svg>Read the doc</button>
            </div>
        </div>
        <div class="container">
            <div class="text-center fws-normal py-4">
                <p>Currently <strong>v5.2.0</strong> · <ins>Download</ins> · <ins> 4.6.x docs </ins> · <ins> All releases </ins> </p>
            </div>
        </div>
      </section>

      <section style="background-color:rgb(94, 164, 243) ;">
        <div class="container-fluid py-3">
          <footer>
            <p class="text-center">Belajar Bootstrap web &#169; 2019 Bootstrap</p>
          </footer>
        </div>
      </section>
</body>
</html>